# Overlay configuration
# Format: ID | GroupName | ByteLimit | [after=OverlayID]
# OV_MG
0   | MYSGIFT | 262144 |
# OV_MG_ALBUM
1   | MYSGIFT   |   2048 | after=0
# OV_MG_WIFI
2   | MYSGIFT   |   4096 | after=0
# OV_MG_LOCAL
3   | MYSGIFT   |   4096 | after=0
# OV_MG_RECEIVE_ANIM
4   | MYSGIFT   |   2048 | after=0

# OV_BT
5   | BATTLE    | 262144 |
# OV_BX
6   | BOX       | 262144 |
# OV_ID
7   | ID        | 262144 |
# OV_SETTINGS
8   | SETTINGS  | 262144 |
# OV_SPX_BLENDER
9   | SPX       | 262144 |
# OV_SPX_GAMESTART
10  | SPX       | 262144 |
# OV_SPX_EVOLUTION
11  | SPX       | 262144 |
# OV_SPX_POKESEL
12  | SPX       | 262144 |
# OV_SPX_TRADE
13  | SPX       | 262144 |

# OV_STS
14   | STATUS   | 131072 | after=5,6
# OV_BAG
15   | BAG      | 131072 | after=5,6,14
# OV_DEX
16   | DEX      | 131072 | after=14
